{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{#match @custom.publication_cover_style "!=" "None"}}
    <div class="site-header-content{{#match @custom.publication_cover_style "Large"}} large{{/match}}">
        {{#if @site.cover_image}}
            {{!-- This is a responsive image, it loads different sizes depending on device
            https://medium.freecodecamp.org/a-guide-to-responsive-images-with-ready-to-use-templates-c400bd65c433 --}}
			{{!-- Comment out original to replace with Cloudinary
            <img class="site-header-cover"
                srcset="{{img_url @site.cover_image size="s"}} 300w,
                        {{img_url @site.cover_image size="m"}} 600w,
                        {{img_url @site.cover_image size="l"}} 1000w,
                        {{img_url @site.cover_image size="xl"}} 2000w"
                sizes="100vw"
                src="{{img_url @site.cover_image size="xl"}}"
                alt=""
            />
			--}}

			<img class="site-header-cover" id='cover'/>
			<script type="text/javascript">		
				function getPosition(string, subString, index) {
				  return string.split(subString, index).join(subString).length;
				}
				let imgurl="{{img_url @site.cover_image}}";
				let cloudinary_public_id = imgurl.slice(getPosition(imgurl, '/', 8));
				let cloudinary_baseurl = "https://res.cloudinary.com/chtran/image/upload";
				document.getElementById('cover').srcset =
					cloudinary_baseurl + "/w_300" + cloudinary_public_id + " 300w," +
					cloudinary_baseurl + "/w_600" + cloudinary_public_id + " 600w," +
					cloudinary_baseurl + "/w_1000" + cloudinary_public_id + " 1000w," +
					cloudinary_baseurl + "/w_2000" + cloudinary_public_id + " 2000w"
				document.getElementById('cover').src = cloudinary_baseurl + "/w_2000" + cloudinary_public_id;
				document.getElementById('cover').sizes = "100vw";
				document.getElementById('cover').alt="cover image";
			</script>

			
        {{/if}}
        <h1 class="site-title">
            {{#if @site.logo}}
                <img class="site-logo" src="{{img_url @site.logo size="m"}}" alt="{{@site.title}}" />
            {{else}}
                {{!-- 
                {{@site.title}}
                --}}
              <div class="wrapper">				
                <svg width="100%" height="139.50100708007812" viewBox="0 0 1255.2 139.501" xmlns="http://www.w3.org/2000/svg">
                  <g id="svgGroup" stroke-linecap="round" fill-rule="evenodd" font-size="9pt" stroke="#000" stroke-width="0.25mm" fill="none" style="stroke:#fff;stroke-width:1px;fill:white">
                    <path d="M 76.95 107.4 L 69.9 85.8 L 29.7 85.8 L 22.5 107.4 L 0 107.4 L 38.1 0 L 62.55 0 L 99.75 107.4 L 76.95 107.4 Z M 35.85 67.35 L 63.9 67.35 L 49.95 25.35 L 35.85 67.35 Z" id="0" vector-effect="non-scaling-stroke" class="svg-elem-1"></path>
                    <path d="M 218.55 18.45 L 187.35 18.45 L 187.35 107.4 L 165.3 107.4 L 165.3 18.45 L 132.6 18.45 L 132.6 0 L 218.55 0 L 218.55 18.45 Z" id="2" vector-effect="non-scaling-stroke" class="svg-elem-2"></path>
                    <path d="M 229.95 107.4 L 229.95 0 L 250.65 0 L 250.65 39.15 A 30.22 30.22 0 0 1 257.857 31.289 Q 264.619 26.25 273.9 26.25 Q 284.4 26.25 291.6 32.4 Q 298.788 38.281 299.713 50.197 A 47.206 47.206 0 0 1 299.85 53.85 L 299.85 107.4 L 279.15 107.4 L 279.15 58.05 A 23.461 23.461 0 0 0 278.589 52.672 Q 276.875 45.418 269.915 44.095 A 18.034 18.034 0 0 0 266.55 43.8 A 18.627 18.627 0 0 0 261.255 44.518 A 14.569 14.569 0 0 0 255.075 48.15 A 14.624 14.624 0 0 0 250.74 57.484 A 19.936 19.936 0 0 0 250.65 59.4 L 250.65 107.4 L 229.95 107.4 Z" id="3" vector-effect="non-scaling-stroke" class="svg-elem-3"></path>
                    <path d="M 353.85 26.25 Q 373.5 26.25 384 38.85 Q 393.15 49.65 393.15 67.65 A 58.02 58.02 0 0 1 391.874 80.201 Q 389.996 88.676 385.355 94.912 A 34.114 34.114 0 0 1 381.3 99.45 A 35.061 35.061 0 0 1 364.345 108.016 A 50.654 50.654 0 0 1 353.85 109.05 Q 334.2 109.05 323.7 96.6 Q 314.84 85.998 314.559 68.785 A 69.513 69.513 0 0 1 314.55 67.65 A 57.037 57.037 0 0 1 315.887 54.909 Q 317.932 45.985 323.103 39.554 A 34.392 34.392 0 0 1 326.4 36 A 34.987 34.987 0 0 1 343.822 27.202 A 50.312 50.312 0 0 1 353.85 26.25 Z M 353.85 42.9 A 16.622 16.622 0 0 0 346.487 44.501 Q 343.202 46.098 340.687 49.286 A 21.151 21.151 0 0 0 340.35 49.725 A 24.328 24.328 0 0 0 336.334 58.325 Q 335.453 61.745 335.288 65.763 A 45.975 45.975 0 0 0 335.25 67.65 A 40.801 40.801 0 0 0 335.916 75.257 Q 336.737 79.582 338.572 83 A 21.588 21.588 0 0 0 340.95 86.55 A 16.28 16.28 0 0 0 352.766 92.371 A 20.074 20.074 0 0 0 353.85 92.4 A 16.634 16.634 0 0 0 361.55 90.64 Q 364.878 88.934 367.425 85.575 A 24.231 24.231 0 0 0 371.537 76.832 Q 372.6 72.68 372.6 67.65 A 38.922 38.922 0 0 0 371.909 60.088 Q 370.589 53.428 366.75 48.9 Q 361.65 42.9 353.85 42.9 Z" id="4" vector-effect="non-scaling-stroke" class="svg-elem-4"></path>
                    <path d="M 478.8 27.9 L 478.8 107.4 L 458.25 107.4 L 458.25 96.15 Q 449.85 109.05 434.4 109.05 Q 423.208 109.05 416.453 103.604 A 21.702 21.702 0 0 1 413.7 100.95 Q 408.403 94.726 407.782 84.411 A 46.804 46.804 0 0 1 407.7 81.6 L 407.7 27.9 L 428.4 27.9 L 428.4 77.25 A 22.31 22.31 0 0 0 429.009 82.715 Q 430.809 89.817 437.927 91.177 A 19.582 19.582 0 0 0 441.6 91.5 A 21.797 21.797 0 0 0 446.814 90.909 A 15.392 15.392 0 0 0 453.675 87.3 A 13.869 13.869 0 0 0 458.029 78.919 A 19.869 19.869 0 0 0 458.25 75.9 L 458.25 27.9 L 478.8 27.9 Z" id="5" vector-effect="non-scaling-stroke" class="svg-elem-5"></path>
                    <path d="M 548.85 38.7 L 548.85 27.9 L 568.5 27.9 L 568.5 106.65 A 46.141 46.141 0 0 1 567.509 116.559 Q 566.172 122.631 563.034 127.065 A 24.181 24.181 0 0 1 556.95 133.05 A 34.942 34.942 0 0 1 547.141 137.431 Q 542.599 138.72 537.16 139.206 A 77.717 77.717 0 0 1 530.25 139.5 A 65.544 65.544 0 0 1 520.015 138.754 Q 514.669 137.907 510.378 136.098 A 28.674 28.674 0 0 1 503.25 131.85 A 23.584 23.584 0 0 1 498.546 126.879 A 18.173 18.173 0 0 1 495.3 117 L 516.6 117 Q 519.13 126.227 531.11 126.299 A 31.459 31.459 0 0 0 531.3 126.3 A 20.16 20.16 0 0 0 538.148 125.174 A 17.801 17.801 0 0 0 544.2 121.5 Q 548.076 117.999 548.721 111.268 A 29.552 29.552 0 0 0 548.85 108.45 L 548.85 96.6 A 62.262 62.262 0 0 1 545.361 100.581 Q 541.603 104.494 538.2 106.35 A 21.275 21.275 0 0 1 532.158 108.496 Q 529.567 109.015 526.598 109.048 A 36.353 36.353 0 0 1 526.2 109.05 Q 511.42 109.05 502.542 97.518 A 37.13 37.13 0 0 1 501.75 96.45 A 39.563 39.563 0 0 1 495.062 81.339 Q 493.82 75.723 493.8 69.207 A 69.542 69.542 0 0 1 493.8 69 Q 493.8 49.35 504.45 36.9 A 32.605 32.605 0 0 1 512.991 29.81 A 27.981 27.981 0 0 1 526.95 26.25 Q 539.85 26.25 548.85 38.7 Z M 531.15 43.5 A 13.379 13.379 0 0 0 520.734 48.232 A 19.375 19.375 0 0 0 519.075 50.4 A 25.692 25.692 0 0 0 515.662 58.28 Q 514.79 61.675 514.573 65.67 A 50.158 50.158 0 0 0 514.5 68.4 Q 514.5 76.676 517.263 82.416 A 21.242 21.242 0 0 0 519.075 85.5 A 16.282 16.282 0 0 0 523.051 89.524 A 13.864 13.864 0 0 0 531.15 91.95 A 15.327 15.327 0 0 0 542.818 86.806 A 20.959 20.959 0 0 0 544.05 85.35 A 20.761 20.761 0 0 0 547.495 78.53 Q 548.85 74.067 548.85 68.25 A 40.964 40.964 0 0 0 548.194 60.688 Q 546.942 54.028 543.3 49.5 A 16.595 16.595 0 0 0 538.796 45.505 A 14.755 14.755 0 0 0 531.15 43.5 Z" id="6" vector-effect="non-scaling-stroke" class="svg-elem-6"></path>
                    <path d="M 588.15 107.4 L 588.15 0 L 608.85 0 L 608.85 39.15 A 30.22 30.22 0 0 1 616.057 31.289 Q 622.819 26.25 632.1 26.25 Q 642.6 26.25 649.8 32.4 Q 656.988 38.281 657.913 50.197 A 47.206 47.206 0 0 1 658.05 53.85 L 658.05 107.4 L 637.35 107.4 L 637.35 58.05 A 23.461 23.461 0 0 0 636.789 52.672 Q 635.075 45.418 628.115 44.095 A 18.034 18.034 0 0 0 624.75 43.8 A 18.627 18.627 0 0 0 619.455 44.518 A 14.569 14.569 0 0 0 613.275 48.15 A 14.624 14.624 0 0 0 608.94 57.484 A 19.936 19.936 0 0 0 608.85 59.4 L 608.85 107.4 L 588.15 107.4 Z" id="7" vector-effect="non-scaling-stroke" class="svg-elem-7"></path>
                    <path d="M 700.65 27.9 L 714.6 27.9 L 714.6 41.55 L 700.65 41.55 L 700.65 85.8 A 18.908 18.908 0 0 0 700.748 87.806 Q 700.965 89.828 701.658 91.032 A 3.98 3.98 0 0 0 702.225 91.8 Q 703.8 93.45 708 93.45 Q 711.45 93.45 716.85 90.75 A 11.667 11.667 0 0 1 717.117 90.577 Q 717.394 90.403 717.6 90.3 L 720 104.4 Q 710.55 109.05 700.2 109.05 Q 679.95 109.05 679.95 90.45 L 679.95 41.55 L 669.75 41.55 L 669.75 27.9 L 679.95 27.9 L 679.95 14.7 L 700.65 2.85 L 700.65 27.9 Z" id="8" vector-effect="non-scaling-stroke" class="svg-elem-8"></path>
                    <path d="M 762.9 0 L 784.95 0 L 784.95 107.4 L 762.9 107.4 L 762.9 0 Z" id="10" vector-effect="non-scaling-stroke" class="svg-elem-9"></path>
                    <path d="M 805.05 107.4 L 805.05 27.9 L 825.75 27.9 L 825.75 39.15 Q 834.15 26.25 849.45 26.25 Q 860.642 26.25 867.397 31.696 A 21.702 21.702 0 0 1 870.15 34.35 A 24.524 24.524 0 0 1 874.918 43.75 Q 875.909 47.393 876.103 51.713 A 47.741 47.741 0 0 1 876.15 53.85 L 876.15 107.4 L 855.6 107.4 L 855.6 58.05 A 22.008 22.008 0 0 0 854.973 52.541 Q 852.706 43.8 842.25 43.8 A 21.325 21.325 0 0 0 837.072 44.395 A 14.986 14.986 0 0 0 830.25 48.075 A 14.232 14.232 0 0 0 825.908 56.854 A 19.863 19.863 0 0 0 825.75 59.4 L 825.75 107.4 L 805.05 107.4 Z" id="11" vector-effect="non-scaling-stroke" class="svg-elem-10"></path>
                    <path d="M 1002 18.45 L 970.8 18.45 L 970.8 107.4 L 948.75 107.4 L 948.75 18.45 L 916.05 18.45 L 916.05 0 L 1002 0 L 1002 18.45 Z" id="13" vector-effect="non-scaling-stroke" class="svg-elem-11"></path>
                    <path d="M 1013.7 27.9 L 1034.4 27.9 L 1034.4 107.4 L 1013.7 107.4 L 1013.7 27.9 Z M 1028.053 1.502 A 9.455 9.455 0 0 0 1023.9 0.6 Q 1019.85 0.6 1017 3.45 Q 1014.15 6.3 1014.15 10.35 Q 1014.15 14.4 1017 17.175 Q 1019.85 19.95 1023.9 19.95 A 11.733 11.733 0 0 0 1024.026 19.949 A 9.258 9.258 0 0 0 1030.725 17.175 A 9.364 9.364 0 0 0 1032.717 14.293 A 9.74 9.74 0 0 0 1033.5 10.35 Q 1033.5 6.3 1030.725 3.45 A 9.424 9.424 0 0 0 1028.053 1.502 Z" id="14" vector-effect="non-scaling-stroke" class="svg-elem-12"></path>
                    <path d="M 1054.35 107.4 L 1054.35 27.9 L 1074.9 27.9 L 1074.9 37.5 A 34.378 34.378 0 0 1 1081.922 30.867 A 25.269 25.269 0 0 1 1096.65 26.25 A 31.61 31.61 0 0 1 1105.004 27.281 A 20.499 20.499 0 0 1 1118.25 37.95 Q 1127.25 26.25 1141.5 26.25 A 35.469 35.469 0 0 1 1149.041 27.004 Q 1153.929 28.067 1157.592 30.632 A 20.562 20.562 0 0 1 1160.175 32.775 Q 1166.85 39.3 1166.85 50.85 L 1166.85 107.4 L 1146.3 107.4 L 1146.3 54.15 Q 1146.3 46.034 1139.383 44.282 A 17.701 17.701 0 0 0 1135.051 43.8 A 16.997 16.997 0 0 0 1130.674 44.333 A 12.088 12.088 0 0 0 1124.7 47.925 Q 1121.289 51.677 1120.981 58.097 A 27.154 27.154 0 0 0 1120.95 59.4 L 1120.95 107.4 L 1100.25 107.4 L 1100.25 54.15 A 13.804 13.804 0 0 0 1099.66 49.929 Q 1098.219 45.44 1093.251 44.239 A 17.498 17.498 0 0 0 1089.15 43.8 A 16.997 16.997 0 0 0 1084.774 44.333 A 12.088 12.088 0 0 0 1078.8 47.925 Q 1075.389 51.677 1075.081 58.097 A 27.154 27.154 0 0 0 1075.05 59.4 L 1075.05 107.4 L 1054.35 107.4 Z" id="15" vector-effect="non-scaling-stroke" class="svg-elem-13"></path>
                    <path d="M 1255.05 73.05 L 1201.65 73.05 Q 1202.011 80.758 1203.727 84.888 A 12.128 12.128 0 0 0 1204.65 86.7 A 14.193 14.193 0 0 0 1214.661 93.017 A 22.334 22.334 0 0 0 1218.3 93.3 Q 1229.85 93.3 1233.75 83.7 L 1254.15 83.7 Q 1250.7 95.4 1240.725 102.225 A 39.14 39.14 0 0 1 1221.69 108.866 A 49.198 49.198 0 0 1 1217.4 109.05 A 43.227 43.227 0 0 1 1205.676 107.548 A 30.978 30.978 0 0 1 1189.5 96.9 A 37.238 37.238 0 0 1 1182.472 82.33 Q 1181.14 76.958 1180.974 70.666 A 68.689 68.689 0 0 1 1180.95 68.85 A 64.811 64.811 0 0 1 1182.145 56.004 Q 1183.713 48.256 1187.337 42.287 A 35.159 35.159 0 0 1 1192.05 36.15 A 32.705 32.705 0 0 1 1211.494 26.658 A 45.62 45.62 0 0 1 1217.7 26.25 A 41.58 41.58 0 0 1 1229.68 27.919 A 35.44 35.44 0 0 1 1239 32.25 Q 1248.15 38.25 1252.05 49.05 A 46.206 46.206 0 0 1 1254.298 57.605 Q 1255.2 62.958 1255.2 69.3 A 38.786 38.786 0 0 1 1255.181 70.475 Q 1255.163 71.042 1255.131 71.686 A 86.267 86.267 0 0 1 1255.05 73.05 Z M 1201.95 59.4 L 1233.6 59.4 A 31.004 31.004 0 0 0 1232.319 52.62 Q 1229.326 43.276 1220.166 42.153 A 21.51 21.51 0 0 0 1217.55 42 A 15.384 15.384 0 0 0 1210.397 43.574 Q 1204.224 46.763 1202.395 56.413 A 39.936 39.936 0 0 0 1201.95 59.4 Z" id="16" vector-effect="non-scaling-stroke" class="svg-elem-14"></path>
                  </g>
                </svg>				
              </div>		

            {{/if}}
        </h1>
        <p>{{@site.description}}</p>
    </div>
{{/match}}

{{!-- The main content area --}}
<main id="site-main" class="site-main outer">
    <div class="inner posts">

        <div class="post-feed{{#match @custom.feed_layout "List"}} list{{/match}}">
            {{#foreach posts}}

                {{!-- The tag below includes the markup for each post - partials/post-card.hbs --}}
                {{> "post-card"}}

            {{/foreach}}
        </div>

    </div>

	<div>
		<form autocomplete="off">
		{{!--
			<input id="search-field" />
			<input class="gh-head-button" type="submit" value="search">
		--}}
			<center>
				<div class="search-box">
					<button class="btn-search"><i class="fas fa-search"></i></button>
					<input id="search-field" type="text" class="input-search" placeholder="Type to Search...">
				</div>	
			</center>
		</form>
		<section id="results"></section>
	</div>	
</main>

